<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button routerLink="/home"><ion-icon name="arrow-back-outline" slot="start"></ion-icon></ion-button>
        </ion-buttons>
        <ion-title>App Settings</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding custom-scroll-box">
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col size="12" sizeMd="8" sizeSm="10" sizeXs="12" sizeXl="6">
                <ion-list lines="none">
                    <ion-item color="light" class="ion-margin-vertical">
                        <ion-label position="floating">Name To Show</ion-label>
                        <ion-input [value]="nameToShow" (ionBlur)="updateName(nameInput)" #nameInput></ion-input>
                    </ion-item>
                    <ion-item color="light" class="ion-padding-vertical remove-column-padding date-format-segment">
                        <ion-grid style="width: 100%; padding: 0;" [fixed]="true">
                            <ion-row>
                                <ion-col>
                                    <ion-label position="stacked" class="fix-label up">Date Format</ion-label>
                                    <ion-segment color="primary" [(ngModel)]="dateFormat" (click)="saveSettings()">
                                        <ion-segment-button value="absolute">
                                            <ion-label>Absolute</ion-label>
                                        </ion-segment-button>
                                        <ion-segment-button value="relative">
                                            <ion-label>Relative</ion-label>
                                        </ion-segment-button>
                                    </ion-segment>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col>
                                    <ion-note *ngIf="dateFormat == 'absolute'">e.g. {{ absoluteDateExample }}</ion-note>
                                    <ion-note *ngIf="dateFormat == 'relative'">e.g. {{ relativeDateExample }}</ion-note>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                    <ion-item color="light" class="ion-margin-vertical with-checkbox" (click)="updateStarter(starterCheckbox)">
                        <ion-checkbox slot="start" #starterCheckbox></ion-checkbox>
                        <ion-label>Show starter message</ion-label>
                    </ion-item>
                    <ion-item color="light" class="ion-margin-vertical">
                        <ion-label position="stacked" class="fix-label down">Message Font Size</ion-label>
                        <ion-range [(ngModel)]="messageFontSize" [ticks]="true" [snaps]="true" [min]="8" [max]="16" [pin]="true" [pinFormatter]="pinFormatter" (ionChange)="saveSettings()">
                            <ion-text slot="start">8pt</ion-text>
                            <ion-text slot="end">16pt</ion-text>
                        </ion-range>
                    </ion-item>
                    <ion-item color="light" class="ion-padding-top">
                        <ion-label position="stacked" class="fix-label up">App Theme</ion-label>
                        <ion-segment color="primary" [(ngModel)]="userTheme" (click)="saveSettings(true)">
                            <ion-segment-button value="auto">
                                <ion-icon name="contrast-outline"></ion-icon>
                            </ion-segment-button>
                            <ion-segment-button value="light">
                                <ion-icon name="sunny-outline"></ion-icon>
                            </ion-segment-button>
                            <ion-segment-button value="dark">
                                <ion-icon name="moon-outline"></ion-icon>
                            </ion-segment-button>
                        </ion-segment>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>